<div class="container" style="margin-top: 40px;">
    <h3><% product.filename %></h3>
    <h3><% product.uuid %></h3>

    <div><% product.uuid %></div>
    <div><% product.relpassnumber %></div>
    <div><% product.relpassdirection %></div>
    <div><% product.filename %></div>
    <div><% product.instrumentname %></div>
    <div><% product.timeliness %></div>
    <div><% product.footprint %></div>
    <div><% product.size %></div>
    <div><% product.productlevel %></div>
    <div><% product.relorbitdir %></div>
    <div><% product.ingestiondate %></div>
    <div><% product.ecmwf %></div>
    <div><% product.sensoroperationalmode %></div>
    <div><% product.beginposition %></div>
    <div><% product.procfacilityname %></div>
    <div><% product.orbitnumber %></div>
    <div><% product.mode %></div>
    <div><% product.platformname %></div>
    <div><% product.producttype %></div>
    <div><% product.orbitdirection %></div>
    <div><% product.format %></div>
    <div><% product.passdirection %></div>
    <div><% product.procfacilityorg %></div>
    <div><% product.relativeorbitnumber  %></div>
    <div><% product.pduduration %></div>
    <div><% product.platformidentifier %></div>
    <div><% product.gmlfootprint %></div>
    <div><% product.endposition %></div>
    <div><% product.creationdate %></div>
    <div><% product.onlinequalitycheck %></div>
    <div><% product.processingname %></div>
    <div><% product.identifier %></div>
    <div><% product.passnumber %></div>
    <div><% product.pdualongtrackcoord %></div>
    <div><% product.instrumentshortname %></div>
    <div><% product.processinglevel %></div>
    <div><% product.cloudcoverpercentage %></div>
    <div><% product.lrmpercentage %></div>
    <div><% product.openseapercentage %></div>
    <div><% product.landpercentage %></div>
    <div><% product.sarpercentage %></div>
    <div><% product.closedseapercentage %></div>
    <div><% product.continentalicepercentage %></div>
    <div><% product.nbfire %></div>
    <div><% product.lastpassdirection %></div>
    <div><% product.lastrelpassnumber %></div>
    <div><% product.lastrelorbitdirection %></div>
    <div><% product.lastorbitdirection %></div>
    <div><% product.lastrelativeorbitnumber %></div>
    <div><% product.lastpassnumber %></div>
    <div><% product.lastrelpassdirection %></div>
    <div><% product.lastorbitnumber %></div>
    <div><% product.pdutileid %></div>
    <div><% product.productclass %></div>
    <div><% product.polarisationmode %></div>
    <div><% product.status %></div>
    <div><% product.slicenumber %></div>
    <div><% product.missiondatatakeid %></div>
    <div><% product.swathidentifier %></div>
    <div><% product.acquisitiontype %></div>
    <div><% product.productconsolidation %></div>
    <div><% product.unclassifiedpercentage %></div>
    <div><% product.s2datatakeid %></div>
    <div><% product.granuleidentifier %></div>
    <div><% product.level1cpdiidentifier %></div>
    <div><% product.vegetationpercentage %></div>
    <div><% product.notvegetatedpercentage %></div>
    <div><% product.processingbaseline %></div>
    <div><% product.mediumprobacloudspercentage %></div>
    <div><% product.datastripidentifier %></div>
    <div><% product.generationdate %></div>
    <div><% product.illuminationzenithangle %></div>
    <div><% product.platformserialidentifier %></div>
    <div><% product.waterpercentage %></div>
    <div><% product.highprobacloudspercentage %></div>
    <div><% product.illuminationazimuthangle %></div>
    <div><% product.snowicepercentage %></div>
    <div><% product.hv_order_tileid %></div>
    <div><% product.tileid %></div>
    <div><% product.datatakesensingstart %></div>
    <div><% product.leapsecond %></div>
    <div><% product.leapSecondOccurrence %></div>

  </div>